
:root{
    --min-width: 1200px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, Cartero, 'Helvetiva Neue', Helvetica, Arial, 'Sans Serif';

}


#header{
    background-color: #FFF159;
    width: 100%;
}

.contenido-header{
    width: var(--min-width);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin: auto;
}

.contenido-header > :first-child{
    display: flex;
    margin-bottom: 15px;
}

.contenido-header > :first-child > img{
    height: 100%;
}

.contenido-header > :first-child > input{
    margin-left: 50px;
    width: 600px;
    height: 40px;
}




.contenido-header > :nth-child(2){
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    height: 32px;
}

.nav-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-principal a{
    color: black;
    text-decoration: none;
}

.nav-principal-enlaces > a{
    color: #685f5f;
    padding-left: 15px;
}

.nav-principal > :nth-child(3){
    display: flex;
    align-items: center;
}
.nav-principal > :nth-child(3) > img{
    margin-left: 15px;
}