
:root{
    --min-width: 1200px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, Cartero, 'Helvetiva Neue', Helvetica, Arial, 'Sans Serif';

}


#header{
    background-color: #FFF159;
    width: 100%;
}

.contenido-header{
    width: var(--min-width);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: auto 580px auto;
    grid-template-rows: 40px 30px;
    border-style: solid;
    grid-gap: 10px;
    height: 100px;
    padding: 8px 10px 12px 10px;


    margin: auto;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    align-items: center;
}

.contenido-header a {
    text-decoration: none;
    color: black;
}


.nav-item-2{
   height: 40px;
   width: 580px;

}
.nav-item-3{
    height: 100%;
    justify-self: end;
}

.nav-item-5 > a{
    margin-right: 16px;
    color: rgba(51,51,51,.6);
}
.nav-item-6{
    display: flex;

    justify-content: end;
}
.nav-item-6 > a{
    margin-left: 16px;
}
.nav-item-6 > img{
    margin-left: 16px;
}

